<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_user_index') }}">List users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_user_new') }}">Add user</a>
    </li>
</ul>