<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_article_index') }}">Список</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_article_new') }}">Добавить статью</a>
    </li>
</ul>