<footer class="footer">
    <div class="container">
        <span class="footer-text" title="original text: 2017. All rights reserved. I will find you.">
            <span class="copyleft">&copy;</span>
            Простая PHP CMS &copy; 2017. Все права принадлежат всем.
            <a href="{{ path('app_login') }}">Site Admin</a>
        </span>
    </div>
</footer>
