{% extends 'base.html.twig' %}
{% block title %}Новый пользователь{% endblock %}
{% block body %}
    <h2>Добавте нового пользователя</h2>
    {{ include('/user/form..html.twig') }}
    <a href="{{ path('app_user_index') }}">Назад к списку</a>
{% endblock %}